@font-face {
  font-family: "HYWenHei-55W";
  src: url("../fonts/HYWenHei-55W.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Number';
  src: url("../fonts/tttgbnumber.woff") format('woff'), url("../fonts/tttgbnumber.ttf") format('truetype');
}

@font-face {
  font-family: 'NZBZ';
  src: url("../fonts/NZBZ.woff") format('woff'), url("../fonts/NZBZ.ttf") format('truetype');
}

@font-face {
  font-family: 'YS';
  src: url("../fonts/HYWH-65W.woff") format('woff'), url("../fonts/HYWH-65W.ttf") format('truetype');
}

.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: 18px;
  color: #1e1f20;
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 600px;
}

.container {
  padding: 20px 15px 10px 15px;
  background-size: contain;
}

.head-box {
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  color: #fff;
  margin-top: 30px;
}

.head-box .title {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 36px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .title .label {
  display: inline-block;
  margin-left: 10px;
}

.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 16px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .label span {
  color: #d3bc8e;
  padding: 0 2px;
}

.notice {
  color: #888;
  font-size: 12px;
  text-align: right;
  padding: 12px 5px 5px;
}

.notice-center {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #333;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}

.copyright .version {
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}

/*  */
.cont {
  border-radius: 10px;
  background: url('./cont/card-bg.png') top left repeat-x;
  background-size: auto 100%;
  margin: 5px 0;
  position: relative;
  -webkit-box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  overflow: hidden;
  color: #fff;
  font-size: 16px;
}

.cons {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

.cons-0 {
  background: rgb(119, 119, 119);
}

.cons-n0 {
  background: rgb(45, 45, 45);
}

.cons-1 {
  background: rgb(94, 151, 163);
}

.cons-2 {
  background: rgb(46, 179, 133);
}

.cons-3 {
  background: rgb(44, 150, 174);
}

.cons-4 {
  background: rgb(44, 70, 174);
}

.cons-5 {
  background: rgb(61, 18, 117);
}

.cons-6 {
  background: rgb(253, 89, 60);
}

.cons2-0 {
  border-radius: 4px;
  background: rgb(50, 50, 50);
}

.cons2-1 {
  border-radius: 4px;
  background: rgb(94, 151, 163);
}

.cons2-2 {
  border-radius: 4px;
  background: rgb(46, 179, 133);
}

.cons2-3 {
  border-radius: 4px;
  background: rgb(44, 150, 174);
}

.cons2-4 {
  border-radius: 4px;
  background: rgb(44, 70, 174);
}

.cons2-5 {
  border-radius: 4px;
  background: rgb(61, 18, 117);
}

.cons2-6 {
  border-radius: 4px;
  background: rgb(253, 89, 60);
}

.cons3-1 {
  color: rgb(255, 255, 255);
}

.cons3-2 {
  color: rgb(44, 150, 174);
}

.cons3-3 {
  color: rgb(44, 150, 174);
}

.cons3-4 {
  color: rgb(44, 70, 174);
}

.cons3-5 {
  color: rgb(61, 18, 117);
}

.cons3-6 {
  color: rgb(253, 89, 60);
}

.avatar-cons {
  height: 15.5%;
  width: 12%;
  font-size: 70%;
  font-weight: bold;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 0;
  padding-bottom: 4%;
  background-image: url('./item/cons.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-cons p {
  position: absolute;
  top: 8%;
  right: 33%;
}

/********  Fetter  ********/
.fetter {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url('./item/fetter.png');
  background-size: auto 100%;
}

.fetter.fetter1 {
  background-position: 0% 0;
}

.fetter.fetter2 {
  background-position: 11.11111111% 0;
}

.fetter.fetter3 {
  background-position: 22.22222222% 0;
}

.fetter.fetter4 {
  background-position: 33.33333333% 0;
}

.fetter.fetter5 {
  background-position: 44.44444444% 0;
}

.fetter.fetter6 {
  background-position: 55.55555556% 0;
}

.fetter.fetter7 {
  background-position: 66.66666667% 0;
}

.fetter.fetter8 {
  background-position: 77.77777778% 0;
}

.fetter.fetter9 {
  background-position: 88.88888889% 0;
}

.fetter.fetter10 {
  background-position: 100% 0;
}

/* talent */
.bg-wind,
.bg-anemo {
  background-image: url('./talent/talent-anemo.png');
}

.bg-ice,
.bg-cryo {
  background-image: url('./talent/talent-cryo.png');
}

.bg-dendro {
  background-image: url('./talent/talent-dendro.png');
}

.bg-thunder,
.bg-lightning,
.bg-electro {
  background-image: url('./talent/talent-electro.png');
}

.bg-imaginary,
.bg-geo {
  background-image: url('./talent/talent-geo.png');
}

.bg-hydro {
  background-image: url('./talent/talent-hydro.png');
}

.bg-fire,
.bg-pyro {
  background-image: url('./talent/talent-pyro.png');
}

.bg-quantum {
  background-image: url('./talent/talent-quantum.png');
}

.bg-physical {
  background-image: url('./talent/talent-sr.png');
}

.noact {
  background-image: url('./talent/talent-sr.png');
  opacity: 0.4;
}

/* attr */
.attr-icon {
  background-image: url('./item/icon-sr.png');
}

.attr-icon-gs {
  background-image: url('./item/icon.png');
}

.i-hp {
  background-position: -16px 0;
}

.i-atk {
  background-position: -32px 0;
}

.i-def {
  background-position: -48px 0;
}

.i-mastery {
  background-position: -64px 0;
}

.i-cpct {
  background-position: -80px 0;
}

.i-cdmg {
  background-position: -96px 0;
}

.i-stance {
  background-position: -64px 0;
}

.i-recharge {
  background-position: -112px 0;
}

.i-dmg {
  background-position: -128px 0;
}

.i-heal {
  background-image: url('./item/icon-sr.png');
  background-position: -144px 0;
}

.i-speed {
  background-position: -160px 0;
}

.i-effPct {
  background-position: -176px 0;
}

.i-effDef {
  background-position: -192px 0;
}

/********  ELEM  ********/
.elem-hydro .talent-icon {
  background-image: url("./talent/talent-hydro.png");
}

.elem-hydro .elem-bg,
.hydro-bg {
  background-image: url("./bg/bg-hydro.png");
}

.elem-anemo .talent-icon {
  background-image: url("./talent/talent-anemo.png");
}

.elem-anemo .elem-bg,
.elem-wind .elem-bg,
.anemo-bg {
  background-image: url("./bg/bg-anemo.png");
}

.elem-cryo .talent-icon {
  background-image: url("./talent/talent-cryo.png");
}

.elem-cryo .elem-bg,
.elem-ice .elem-bg,
.cryo-bg {
  background-image: url("./bg/bg-cryo.png");
}

.elem-electro .talent-icon {
  background-image: url("./talent/talent-electro.png");
}

.elem-electro .elem-bg,
.elem-thunder .elem-bg,
.elem-lightning .elem-bg,
.electro-bg {
  background-image: url("./bg/bg-electro.png");
}

.elem-geo .talent-icon {
  background-image: url("./talent/talent-geo.png");
}

.elem-geo .elem-bg,
.elem-imaginary .elem-bg,
.geo-bg {
  background-image: url("./bg/bg-geo.png");
}

.elem-pyro .talent-icon {
  background-image: url("./talent/talent-pyro.png");
}

.elem-pyro .elem-bg,
.elem-fire .elem-bg,
.pyro-bg {
  background-image: url("./bg/bg-pyro.png");
}

.elem-dendro .talent-icon {
  background-image: url("./talent/talent-dendro.png");
}

.elem-dendro .elem-bg,
.dendro-bg {
  background-image: url("./bg/bg-dendro.png");
}

.elem-quantum .talent-icon {
  background-image: url("./talent/talent-quantum.png");
}

.elem-quantum .elem-bg,
.quantum-bg {
  background-image: url("./bg/bg-quantum.png");
}

.elem-sr .talent-icon {
  background-image: url("./talent/talent-sr.png");
}

.elem-sr .elem-bg,
.elem-physical .elem-bg,
.sr-bg {
  background-image: url("./bg/bg-sr.png");
}

/* item-icon */
.item-icon {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.item-icon .img {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item-icon.artis .img {
  width: 84%;
  height: 84%;
  margin: 8%;
}

.item-icon.star1 {
  background-image: url("./item/bg1.png");
}

.item-icon.opacity-bg.star1 {
  background-image: url("./item/bg1-o.png");
}

.item-icon.star2 {
  background-image: url("./item/bg2.png");
}

.item-icon.opacity-bg.star2 {
  background-image: url("./item/bg2-o.png");
}

.item-icon.star3 {
  background-image: url("./item/bg3.png");
}

.item-icon.opacity-bg.star3 {
  background-image: url("./item/bg3-o.png");
}

.item-icon.star4 {
  background-image: url("./item/bg4.png");
}

.item-icon.opacity-bg.star4 {
  background-image: url("./item/bg4-o.png");
}

.item-icon.star5 {
  background-image: url("./item/bg5.png");
}

.item-icon.opacity-bg.star5 {
  background-image: url("./item/bg5-o.png");
}

.item-icon.star-w {
  background: #fff;
}

.item-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.item-list .item-card {
  width: 70px;
  background: #e7e5d9;
}

.item-list .item-icon {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 12px;
}

.item-list .item-title {
  color: #222;
  font-size: 13px;
  text-align: center;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
}

.item-list .item-icon {
  height: initial;
}

.item-list .item-badge {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  color: #fff;
  padding: 4px 5px 3px;
  border-radius: 0 0 6px 0;
}

.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.bg5 {
  background-image: url('./item/bg5.png');
}

.bg4 {
  background-image: url('./item/bg4.png');
}

.存护 {
  background-image: url('./talent/存护.png');
}

.存护-s {
  background-image: url('./talent/存护-s.png');
}

.存护-bg {
  background-image: url('./talent/存护.png'), url('./talent/bg.png');
}

.丰饶 {
  background-image: url('./talent/丰饶.png');
}

.丰饶-s {
  background-image: url('./talent/丰饶-s.png');
}

.丰饶-bg {
  background-image: url('./talent/丰饶.png'), url('./talent/bg.png');
}

.毁灭 {
  background-image: url('./talent/毁灭.png');
}

.毁灭-s {
  background-image: url('./talent/毁灭-s.png');
}

.毁灭-bg {
  background-image: url('./talent/毁灭.png'), url('./talent/bg.png');
}

.同谐 {
  background-image: url('./talent/同谐.png');
}

.同谐-s {
  background-image: url('./talent/同谐-s.png');
}

.同谐-bg {
  background-image: url('./talent/同谐.png'), url('./talent/bg.png');
}

.虚无 {
  background-image: url('./talent/虚无.png');
}

.虚无-s {
  background-image: url('./talent/虚无-s.png');
}

.虚无-bg {
  background-image: url('./talent/虚无.png'), url('./talent/bg.png');
}

.巡猎 {
  background-image: url('./talent/巡猎.png');
}

.巡猎-s {
  background-image: url('./talent/巡猎-s.png');
}

.巡猎-bg {
  background-image: url('./talent/巡猎.png'), url('./talent/bg.png');
}

.智识 {
  background-image: url('./talent/智识.png');
}

.智识-s {
  background-image: url('./talent/智识-s.png');
}

.智识-bg {
  background-image: url('./talent/智识.png'), url('./talent/bg.png');
}

/** profile**/
.mark-ACE,
.mark-MAX {
  color: #e85656;
  font-weight: bold;
}

.mark-SSS,
.mark-SS {
  color: #ffe699;
  font-weight: bold;
}

.mark-S,
.mark-A {
  color: #d699ff;
  font-weight: bold;
}