{{extend defaultLayout}}
{{block 'css'}}
<style>
    .container {
        padding: 20px 50px 5px 50px;
        width: 600px !important;
        font-size: 1.125rem;
        /* 全局字体大小 */
        background-color: rgb(243, 242, 241);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg-qr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 500px;
    }

    .txt {
        text-align: center;
        color: red;
        margin-top: 10px;
        padding: 0 10px;
    }
</style>
{{/block}}
{{block 'main'}}
{{each Qrsvg qr}}
<div class="svg-qr"> {{@ qr}}</div>
{{/each}}
<div class="txt">
    免责声明：请勿随意扫码，谁触发谁扫码，bot仅提供功能。<br />如果恶意抢码导致账号出问题的请自行承担后果
</div>
{{/block}}