{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{pluResPath}}template/user/uid-list.css" />
{{/block}}

{{block 'main'}}

<div class="uid-list">
  {{each uids game}}
  <div class="game-cont">
    <div class="game-title">#{{game.key}} - [{{game.name}}UID列表]</div>
    <div class="game-ul">
      {{if game.uidList?.length > 0 }}
      {{each game.uidList uid idx}}
      <div class="game-li-{{game.key}}  {{uid.main ? 'active':''}}">
        <div class="game-li-info">
          <div class="game-idx">{{idx+1}}</div>
          <div class="game-face" style="background-image: url('{{uid.Face}}')"></div>
          <div class="game-base">
            <span>
              <div class="game-name">{{uid.name}}</div>
              <div class="game-uid shadow">{{uid.uid}}<span>{{uid.uid}}</span></div>
            </span>
            <span>
              <div class="game-region">{{uid.region}}</div>
              {{if uid.level>0}}
              <div class="game-level">{{uid.level}}级</div>
              {{/if}}
              <div class="game-type {{(uid.type==='ck'||uid.type==='all')?'ck':'reg'}}">
                {{(uid.type==='ck'||uid.type==='all')?'CK':'绑定'}}</div>
              {{if (uid.type==='sk'||uid.type==='all')}}
              <div class="game-type sk">SK</div>
              {{/if}}
            </span>
          </div>
        </div>
        {{if uid.main&&uid.card}}
        <div class="game-li-info-card">
          <div class="card-list">

          </div>
        </div>
        {{/if}}
        <div class="change-uid">使用<nobr>#{{game.key}}uid{{idx+1}}</nobr>切换此UID</div>
      </div>
      {{/each}}
      {{else}}
      <div class="no-uid">
        请</nobr>#扫码登录</nobr>或通过<nobr>#{{game.key}}绑定123456789</nobr>来绑定UID
      </div>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
{{/block}}