body {
  width: 350px;
}

.container {
  padding: 20px 10px 40px 0;
  background-image: url('./images/uid-list-bg.webp');
}

nobr {
  background: #323131;
  color: #d3bc8e;
  display: inline-block;
  padding: 1px 2px;
  border-radius: 3px;
  margin: 0 1px;
}

.uid-list {
  margin-left: 10px;
}

.uid-list .game-cont {
  background: rgba(255, 255, 255, 0.65);
  margin: 0 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

.uid-list .game-cont .game-title {
  font-size: 14px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 15px 5px;
}

.uid-list .game-ul {
  padding: 8px;
}

.uid-list .game-ul>* {
  margin-top: 3px;
  margin-bottom: 3px;
}

.uid-list .game-ul .no-uid {
  font-size: 12px;
  text-align: center;
}

.game-li-gs,
.game-li-sr,
.game-li-zzz {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 8px 5px;
  border-radius: 8px;
  background-size: cover;
  position: relative;
}

.game-li-gs {
  background-image: url('../../images/default_banner/gs.webp');
}

.game-li-sr {
  background-image: url('../../images/default_banner/sr.webp');
}

.game-li-zzz {
  background-image: url('../../images/default_banner/zzz.webp');
}

.game-li-gs.active:after,
.game-li-sr.active:after,
.game-li-zzz.active:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background: url('../../images/icon/check.webp') center center no-repeat #4a5366;
  background-size: 70% auto;
}

.game-li-info {
  display: flex;
  flex-wrap: nowrap;
}

.game-idx {
  width: 20px;
  height: 20px;
  line-height: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 40%;
  background: #fff;
  border: 3px solid #6ec4de;
  color: #323131;
  text-shadow: 1px 1px 1px #e9d375;
  margin-top: 8px;
  margin-right: 5px;
}

.game-face {
  width: 36px;
  height: 36px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #cccbc9;
  background-size: contain;
}

.game-base {
  color: #ffffff;
  font-size: 14px;
}

.game-base span {
  display: flex;
  flex-wrap: nowrap;
}

.game-base span>* {
  margin-right: 5px;
}

.game-base span:last-child {
  font-size: 10px;
  margin-top: 2px;
  color: #ffffffa9;
}

.game-base div.shadow {
  position: relative;
  -webkit-text-stroke: 2px #393838;
}

.game-base div.shadow span {
  font-size: 14px;
  font-weight: normal;
  display: block;
  position: absolute;
  color: #ffffff;
  -webkit-text-stroke: 0px #fff;
  left: 0px;
  top: -2px;
}

.game-type {
  width: 20px;
  padding: 1px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 #000;
  text-align: center;
  line-height: 13px;
  color: #ffffff;
}

.game-type.reg {
  color: #ffffffa9;
  background: #666;
}

.game-type.ck {
  background: #d3bc8e;
}

.game-type.sk {
  background: #e75a09;
}

.game-li-info-card {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-li-info-card .card-list {
  width: 95%;
  height: 75%;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: #2625256f;
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-uid {
  font-size: 8px;
  color: #ffffff;
  position: absolute;
  bottom: -2px;
  right: 4px;
}