<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{res_Path}}common/common.css" />
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}html/talent/talent.css" />
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}html/role/rolelist.css" />
  <link rel="preload" href="{{fontsPath}}tttgbnumber.ttf" as="font">
</head>

<body>
  {{set talentlist=['a','e','q','t']}}
  <div class="container">
    <div class="role" style="background-image: url('{{pluResPath}}imgs/version/{{version}}.png');">
      <div class="logo"></div>
      <div class="top">
        <div class="role-image"
          style="background-image: url('{{role.face||`${pluResPath}meta/character/common/imgs/face.png`}}')"></div>
        <div class="role-text">
          <p>{{role.name}}<span>Lv.{{role.level}}</span></p>
          <p>UID: {{uid}}</p>
        </div>
      </div>
      <div class="line-avatars"></div>
      <div class="avatars">
        {{each avatars avatar idx}}
        {{set hasTalent = avatar.talent?.a&&avatar.talent?.e&&avatar.talent?.q&&avatar.talent?.t}}
        <div class="avatar-box" style="height: '{{avatar.weapon?.promote>0? '':'150px'}}';">
          <div class="avatar-top">
            <div class="left">
              <div class="avatar bg{{avatar.star}}">
                <img src="{{pluResPath}}{{avatar.imgs.face}}">
                {{if avatar.cons>0}}
                <span class="avatar-cons cons3-{{avatar.cons}}">
                  <p>{{avatar.cons}}</p>
                </span>
                {{/if}}
                <span class="avatar-element"
                  style="background-image:url('{{pluResPath}}imgs/element/{{avatar.elem}}.png')"></span>
                <div class="avatar-name {{useBrowser}}">LV.{{avatar.level}} {{avatar.name}}</div>
              </div>
              <div class="avatar-talent">
                {{set Tname={a:'普攻',e:'战技',q:'爆发',t:'天赋'} }}
                {{each talentlist t}}
                <div class="avatar-talent-3 bg-{{avatar.elem}} {{hasTalent? '' : 'noact'}}">
                  <p>{{Tname[t]}}</p>
                  <img src="{{pluResPath}}{{avatar.imgs[t]}}">
                  <span class="{{avatar.talent?.[t]?.level>avatar.talent?.[t]?.original?'up':''}}">
                    {{avatar.talent?.[t]?.level||'-'}}
                  </span>
                </div>
                {{/each}}
              </div>
              <div class="line-artifact"></div>
              {{if avatar.artifact?.length>0 }}
              <div class="artifacts">
                {{each avatar.artifact artifact}}
                {{if artifact.set}}
                <div class="artifact item-icon star{{artifact.star}}">
                  <img src="{{pluResPath}}meta/artifact/imgs/{{artifact.set}}/arti-{{artifact.artiskey}}.png">
                  {{if artifact.level>0}}<span class="artifact-level"
                    style="color: {{artifact.level===15 ? 'rgb(219 25 25)':''}};">+{{artifact.level}}</span>{{/if}}
                </div>
                {{/if}}
                {{/each}}
              </div>
              {{else}}
              <div class="no-artifacts">暂无圣遗物数据</div>
              {{/if}}
            </div>
            <div class="talent-artifact">
              <div class="talents">
                {{ include `${pluResPath}html/talent/talent.html`,
                {_avatar:avatar,pluResPath,useBrowser:useBrowser||'',hasTalent,talentlist}
                }}
              </div>
              {{if !hasTalent}}
              <div class="no-talents"></div>
              {{/if}}
            </div>
          </div>
          {{if avatar.weapon?.name}}
          <div class="weapon">
            <div class="weapon-img">
              <div class="item-icon star{{avatar.weapon.star}}">
                <span class="img" style="background-image:url('{{pluResPath}}{{avatar.weapon.icon}}')"></span>
              </div>
            </div>
            <div class="weapon-name">
              <p>
                {{avatar.weapon.name}} -- LV.{{avatar.weapon.level}}
                <span
                  class="weapon-cons cons-{{avatar.weapon.affix > 4 ? avatar.weapon.affix + 1 : avatar.weapon.affix}}">{{avatar.weapon.affix}}</span>
              </p>
            </div>
            <div class="weapon-attr">
              {{set AttrList = ['hp','atk','def']}}
              {{each AttrList i}}
              <div class="item">
                <span class="attr-icon i-{{i}}"></span>
                {{avatar.weapon.attr[i].toFixed(1)}}
              </div>
              {{/each}}
            </div>
          </div>
          {{/if}}
        </div>
        {{if useBrowser==='-wk'&&(idx+1)%3===0}}
      </div>
      <div class="avatars">
        {{/if}}
        {{/each}}
      </div>
      <div class="plugin">{{PluginName}}</div>
    </div>
  </div>
</body>

</html>