<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{pluResPath}}html/explore/explore.css" />
  <link rel="preload" href="{{fontsPath}}tttgbnumber.ttf" as="font">
</head>

<body>
  <div class="container">
    <div class="role" style="background-image: url('{{pluResPath}}imgs/version/{{version}}.png');">
      <div class="logo"></div>
      <div class="top">
        <div class="role-image" style="background-image: url('{{role.game_head_icon}}')">
        </div>
        <div class="role-text">
          <p>{{role.nickname}}<span>Lv.{{role.level}}</span></p>
          <p>{{role.region}} UID: {{uid}}</p>
        </div>
      </div>
      <div class="explore-box">
        <div class="explore">
          {{each explores.line v}}
          <div class="item1">
            <p>{{v.num}}{{if v.extra}}<span>/{{v.extra}}</span>{{/if}}</p>
            <p>{{v.lable}}</p>
          </div>
          {{/each}}
        </div>
        <div class="explore">
          {{each explores.other v idx}}
          <div class="item2">
            <p>{{v.num}}{{if v.extra}}<span>/{{v.extra}}</span>{{/if}}</p>
            <p>{{v.lable}}</p>
          </div>
          {{if useBrowser==='-wk'&&(idx+1)%5===0}}
        </div>
        <div class="explore">
          {{/if}}
          {{/each}}
        </div>
      </div>

    </div>
    <div class="box">
      <div class="title">
        <img src="{{res_Path}}imgs/other/star.png">
        <span>我的角色</span>
      </div>
      <div class="avatars">
        {{each avatars v}}
        <div class="item">
          <img src="{{v.card_image}}">
          <p>Lv.{{v.level}}</p>
        </div>
        {{/each}}
      </div>
      <div class="title">
        <img src="{{res_Path}}imgs/other/star.png">
        <span>世界探索</span>
      </div>
      <div class="world">
        {{each world val idx}}
        <div class="item">
          <img class="icon" src="{{pluResPath}}imgs/other/{{val.name}}.png" />
          <div class="content">
            {{each val.line line}}
            <p class="name">{{line.name}}：<span class="num">{{line.text}}</span></p>
            {{/each}}
          </div>
        </div>
        {{if useBrowser==='-wk'&&(idx+1)%2===0}}
      </div>
      <div class="world">
        {{/if}}
        {{/each}}
      </div>
      {{if homes?.icon}}
      <div class="title">
        <img src="{{res_Path}}imgs/other/star.png">
        <span>尘歌壶</span>
      </div>
      <div class="homes" style="background-image: url('{{homes.icon}}');">
        <div class="homes-top">
          <div class="comfort-image" style="background-image: url('{{homes.comfort_level_icon}}')">
          </div>
          <div class="homes-text">
            <p>{{homes.comfort_level_name}}</p>
            <p>{{homes.name}}</p>
          </div>
        </div>
        <div class="homes-info">
          <div class="item">
            <p>{{homes.level}}</p>
            <p>信任等级</p>
          </div>
          <div class="item">
            <p>{{homes.comfort_num}}</p>
            <p>最高洞天仙力</p>
          </div>
          <div class="item">
            <p>{{homes.item_num}}</p>
            <p>获得摆设数</p>
          </div>
          <div class="item">
            <p>{{homes.visit_num}}</p>
            <p>历史访客数</p>
          </div>
        </div>
      </div>
      {{/if}}
      <div class="plugin">{{PluginName}}</div>
    </div>
  </div>
</body>

</html>