.talent-box {
  width: 100%;
  height: 100%;
  font-size: 45%;
  font-weight: bold;
  color: #ffffff;
  font-family: "tttgbnumber";
  overflow: hidden;
  position: relative;
  background-position: center center, top left;
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.talent-box img {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 27%;
  left: 21%
}

.talent-1,
.talent-2,
.talent-3 {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.talent-1 {
  width: 12%;
  height: 12%;
}

.talent-2 {
  width: 15%;
  height: 15%;
}

.talent-3 {
  width: 9%;
  height: 9%;
}

.level {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -25%;
  left: 15%;
  width: 70%;
  height: 25%;
  background: -webkit-gradient(linear, left top, right top, from(#00000000), color-stop(#000000), to(#00000000));
  background: -webkit-linear-gradient(left, #00000000, #000000, #00000000);
  background: linear-gradient(to right, #00000000, #000000, #00000000);
}

.up {
  color: rgb(50, 189, 239);
}

.存护 {
  background-image: url('./imgs/存护.png'), url('./imgs/bg.png');
}

.丰饶 {
  background-image: url('./imgs/丰饶.png'), url('./imgs/bg.png');
}

.毁灭 {
  background-image: url('./imgs/毁灭.png'), url('./imgs/bg.png');
}

.同谐 {
  background-image: url('./imgs/同谐.png'), url('./imgs/bg.png');
}

.虚无 {
  background-image: url('./imgs/虚无.png'), url('./imgs/bg.png');
}

.巡猎 {
  background-image: url('./imgs/巡猎.png'), url('./imgs/bg.png');
}

.智识 {
  background-image: url('./imgs/智识.png'), url('./imgs/bg.png');
}

.存护a {
  top: 48.8%;
  left: 26.5%;
}

.存护e {
  top: 48.8%;
  right: 26.7%;
}

.存护q {
  top: 45%;
  left: 43.8%;
}

.存护t {
  top: 27.5%;
  left: 43.8%;
}

.存护z {
  bottom: 26%;
  left: 43.8%;
}

.存护tree-1 {
  bottom: 7%;
  left: 21%;
}

.存护tree-2 {
  bottom: 7%;
  right: 21%;
}

.存护tree-3 {
  top: 12.5%;
  left: 42.4%;
}

.存护-201 {
  bottom: 13%;
  left: 45.5%;
}

.存护-202 {
  bottom: 18.9%;
  left: 14%;
}

.存护-203 {
  bottom: 26%;
  left: 7%;
}

.存护-204 {
  top: 38%;
  left: 15%;
}

.存护-205 {
  bottom: 18.9%;
  right: 14%;
}

.存护-206 {
  bottom: 26%;
  right: 7%;
}

.存护-207 {
  top: 38%;
  right: 15%;
}

.存护-208 {
  top: 3%;
  left: 45.5%;
}

.存护-209 {
  top: 8%;
  left: 28%;
}

.存护-210 {
  top: 8%;
  right: 28%;
}

.丰饶a {
  top: 40.8%;
  left: 26.5%;
}

.丰饶e {
  top: 40.8%;
  right: 26.7%;
}

.丰饶q {
  top: 45%;
  left: 43.8%;
}

.丰饶t {
  top: 27.5%;
  left: 43.8%;
}

.丰饶z {
  bottom: 26%;
  left: 43.8%;
}

.丰饶tree-1 {
  bottom: 16%;
  right: 21%;
}

.丰饶tree-2 {
  bottom: 16%;
  left: 21%;
}

.丰饶tree-3 {
  top: 4.5%;
  left: 42.4%;
}

.丰饶-201 {
  bottom: 9%;
  right: 37%;
}

.丰饶-202 {
  bottom: 30.5%;
  right: 11%;
}

.丰饶-203 {
  bottom: 44%;
  right: 2.5%;
}

.丰饶-204 {
  top: 34%;
  right: 14.5%;
}

.丰饶-205 {
  bottom: 30.5%;
  left: 11%;
}

.丰饶-206 {
  bottom: 44%;
  left: 2.5%;
}

.丰饶-207 {
  top: 34%;
  left: 14.5%;
}

.丰饶-208 {
  top: 12%;
  right: 28%;
}

.丰饶-209 {
  top: 12%;
  left: 28%;
}

.丰饶-210 {
  bottom: 9%;
  left: 37%;
}

.毁灭a {
  top: 40.8%;
  left: 26.5%;
}

.毁灭e {
  top: 40.8%;
  right: 26.7%;
}

.毁灭q {
  top: 46%;
  left: 43.8%;
}

.毁灭t {
  top: 29.5%;
  left: 43.8%;
}

.毁灭z {
  bottom: 21%;
  left: 43.8%;
}

.毁灭tree-1 {
  bottom: 13%;
  left: 25%;
}

.毁灭tree-2 {
  bottom: 13%;
  right: 25%;
}

.毁灭tree-3 {
  top: 13.5%;
  left: 42.4%;
}

.毁灭-201 {
  bottom: 9%;
  right: 45.5%;
}

.毁灭-202 {
  bottom: 29.5%;
  left: 12%;
}

.毁灭-203 {
  bottom: 39.5%;
  left: 2.5%;
}

.毁灭-204 {
  top: 39%;
  left: 14.5%;
}

.毁灭-205 {
  bottom: 29.5%;
  right: 12%;
}

.毁灭-206 {
  bottom: 39.5%;
  right: 2.5%;
}

.毁灭-207 {
  top: 39%;
  right: 14.5%;
}

.毁灭-208 {
  top: 3.2%;
  right: 45.5%;
}

.毁灭-209 {
  top: 8.5%;
  left: 28%;
}

.毁灭-210 {
  top: 8.5%;
  right: 28%;
}

.同谐a {
  top: 36.5%;
  left: 26.5%;
}

.同谐e {
  top: 36.5%;
  right: 26.5%;
}

.同谐q {
  bottom: 39%;
  left: 43.8%;
}

.同谐t {
  top: 32%;
  left: 43.8%;
}

.同谐z {
  bottom: 22.5%;
  left: 43.8%;
}

.同谐tree-1 {
  top: 48%;
  left: 7.5%;
}

.同谐tree-2 {
  top: 48%;
  right: 4%;
}

.同谐tree-3 {
  top: 14.5%;
  left: 42.4%;
}

.同谐-201 {
  bottom: 9%;
  left: 45.5%;
}

.同谐-202 {
  bottom: 52.8%;
  left: 2.3%;
}

.同谐-203 {
  top: 30%;
  left: 14.3%;
}

.同谐-204 {
  bottom: 14%;
  left: 27.5%;
}

.同谐-205 {
  bottom: 26.7%;
  right: 15.3%;
}

.同谐-206 {
  bottom: 35.5%;
  right: 28%;
}

.同谐-207 {
  bottom: 14%;
  right: 27.5%;
}

.同谐-208 {
  top: 3%;
  left: 45.3%;
}

.同谐-209 {
  top: 8%;
  left: 28%;
}

.同谐-210 {
  top: 8%;
  right: 28%;
}

.虚无a {
  top: 41%;
  left: 26.5%;
}

.虚无e {
  top: 41%;
  right: 26.5%;
}

.虚无q {
  top: 36.8%;
  left: 43.8%;
}


.虚无t {
  top: 22%;
  left: 43.8%;
}

.虚无z {
  top: 51.5%;
  left: 43.8%;
}

.虚无tree-1 {
  top: 26.8%;
  left: 11.7%;
}

.虚无tree-2 {
  top: 26.8%;
  right: 11.9%;
}


.虚无tree-3 {
  top: 4.5%;
  left: 42.4%;
}

.虚无-201 {
  bottom: 23%;
  left: 45.5%;
}

.虚无-202 {
  bottom: 48.3%;
  left: 2.3%;
}

.虚无-203 {
  bottom: 36%;
  left: 14.3%;
}

.虚无-204 {
  bottom: 22.6%;
  left: 27.5%;
}

.虚无-205 {
  bottom: 48.3%;
  right: 2.3%;
}

.虚无-206 {
  bottom: 36%;
  right: 14.3%;
}

.虚无-207 {
  bottom: 22.6%;
  right: 27.5%;
}

.虚无-208 {
  top: 12.5%;
  left: 27%;
}

.虚无-209 {
  top: 12.5%;
  right: 27%;
}

.虚无-210 {
  bottom: 10%;
  left: 45.5%;
}

.巡猎a {
  top: 41%;
  left: 26.5%;
}

.巡猎e {
  top: 41%;
  right: 26.5%;
}

.巡猎q {
  top: 45%;
  left: 43.8%;
}

.巡猎t {
  top: 29%;
  left: 43.8%;
}

.巡猎z {
  bottom: 28%;
  left: 43.8%;
}

.巡猎tree-1 {
  bottom: 23.5%;
  left: 25%;
}

.巡猎tree-2 {
  bottom: 23.5%;
  right: 25%;
}


.巡猎tree-3 {
  top: 13%;
  left: 42.4%;
}

.巡猎-201 {
  bottom: 10%;
  left: 45.5%;
}

.巡猎-202 {
  bottom: 38%;
  left: 16%;
}

.巡猎-203 {
  bottom: 52%;
  left: 2.3%;
}

.巡猎-204 {
  top: 30%;
  left: 15.5%;
}

.巡猎-205 {
  bottom: 38%;
  right: 16%;
}

.巡猎-206 {
  bottom: 52%;
  right: 2.3%;
}

.巡猎-207 {
  top: 30%;
  right: 15.5%;
}

.巡猎-208 {
  top: 3%;
  left: 45.3%;
}

.巡猎-209 {
  top: 8%;
  left: 28%;
}

.巡猎-210 {
  top: 8%;
  right: 28%;
}

.智识a {
  top: 45.5%;
  left: 28%;
}

.智识e {
  top: 45.5%;
  right: 28%;
}

.智识q {
  top: 45%;
  left: 43.8%;
}

.智识t {
  top: 25%;
  left: 43.8%;
}

.智识z {
  bottom: 12%;
  left: 43.8%;
}

.智识tree-1 {
  top: 45%;
  left: 12%;
}

.智识tree-2 {
  top: 45%;
  right: 12%;
}

.智识tree-3 {
  top: 4%;
  left: 42.4%;
}

.智识-201 {
  bottom: 18%;
  left: 28%;
}

.智识-202 {
  top: 47%;
  left: 1.5%;
}

.智识-203 {
  bottom: 30%;
  left: 6%;
}

.智识-204 {
  top: 34%;
  left: 6%;
}

.智识-205 {
  top: 47%;
  right: 1.5%;
}

.智识-206 {
  bottom: 30%;
  right: 6%;
}

.智识-207 {
  top: 34%;
  right: 6%;
}

.智识-208 {
  top: 12.5%;
  left: 23%;
}

.智识-209 {
  top: 12.5%;
  right: 23%;
}

.智识-210 {
  bottom: 18%;
  right: 28%;
}